{% extends '::base.html.twig' %}
{% block title %}History{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/timetracker/css/bootstrap.min.css') }}" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<table class="table">
					<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Start time</th>
						<th>End time</th>
						<th>Launch duration</th>
						<th>Worked</th>
					</tr>
					</thead>
					<tbody>
						{% for track in tracks %}
							<tr>
								<td>{{ track.id }}</td>
								<td>{{ track.date|date('Y/m/d') }}</td>
								<td>{{ track.startTime|date('H:i') }}</td>
								<td>{{ track.endTime|date('H:i') }}</td>
								<td>{{ track.lunchDuration|date('H:i') }}</td>
								<td>0</td>
							</tr>
						{% endfor %}
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br/><br/>
		<div class="list-group">
			<a href="{{ path('home') }}" class="list-group-item">Go back</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ asset('bundles/timetracker/js/bootstrap.min.js') }}"></script>
{% endblock %}
